<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.proteinindex.macro-refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPOSITORY_ROOT__/ops/local-macro-refresh.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPOSITORY_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PROTEIN_INDEX_DATA_ROOT</key>
    <string>__LOCAL_DATA_ROOT__</string>
    <key>PROTEIN_INDEX_LABEL_LIMIT</key>
    <string>100</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOCAL_DATA_ROOT__/logs/macro-refresh.log</string>
  <key>StandardErrorPath</key>
  <string>__LOCAL_DATA_ROOT__/logs/macro-refresh.error.log</string>
</dict>
</plist>
